
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    width: 400px;
    background-color: white;
    padding: 20px;
    
}

.title {
    padding: 10px;
    font-size: 18px;
    border-left: 5px solid orange;
}

.noidung {
    position: relative;
    width: 350px;
    height: 450px;
}

.noidung p {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px;
}

.sub {
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid gray;
}