*{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.post-container{
    width: 400px;
    position: relative;
}

.post-container img{
    width: 100%;
}
.post-container h3{
    text-transform: uppercase; 
    padding-left: 20px;
    font-size: 28px;
    margin-bottom: 20px;
    border-left: 5px solid orange;
}

.post-title{
    padding: 20px;
    position: absolute;
    top: 450px;
    left: 0;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 0%, rgba(121,9,9,0) 100%);
    
}

.post-title a{
    font-size: 28px;
    text-decoration: none;
    color: white;
    
}

.post-container li{
    padding: 10px;
    border-bottom: 1px solid #060505;
}
 .post-container li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
 }