body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.prod-list {
    display: flex;
    flex-wrap: wrap;       
    justify-content: flex-start;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.big {
    background-color: #1f2d3d;
    color: white;
    padding: 20px;
    text-align: center;
    width: 45%;         
}

.small {
    background-color: #1f2d3d;
    color: white;
    padding: 15px;
    text-align: center;
    width: 200%;      
    gap: 10px;   
}