* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}
header {
    background-color: #f5e6d0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.nav {
    margin-right: 20px;
    margin-top: 20px;
    line-height: 2;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 30px;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: black;
}
.container {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
.noidung {
    width: 600px;
}
h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}
button {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #ff6464;
    border: none;
    border-radius: 2px;
    margin-bottom: 30px;
}
img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    box-shadow: -7px 10px #edf7fa;
}